{% extends "base.html" %}

{% block title %}Мои курсы{% endblock %}

{% block content %}
    <h1>Мои курсы</h1>

    <div class="module">
        {% for course in object_list %}
            <div class="course-info">
                <h3>{{ course.title }}</h3>
                <p><a class="button" href="{% url "student_course_detail" course.id %}">Перейти</a></p>
            </div>
        {% empty %}
            <p>
                Вы еще не записаны ни на какие курсы.
                Посмотрите <a href="{% url "course_list" %}">список курсов,</a> чтобы записаться на курс.
            </p>
        {% endfor %}
    </div>
{% endblock %}